@font-face {
  font-family: neu-Mediu;
  src: url(./fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: Carter-One;
  src: url(./fonts/CarterOne-Regular.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 100;
  src: url(./fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
  font-family: neu;
  font-weight: 200;
  src: url(./fonts/NeueHaasDisplayRoman.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* #loader {
  display: none;
} */

#fixed-image {
  height: 15.3vw;
  width: 27vw;
  /* background-color: red; */
  position: absolute;
  border-radius: 10px;
  top: 50%;
  z-index: 999;
  display: none;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
}

#loader .overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000000;
  display: flex;
}

.overlay .bar {
  width: 10vw;
  height: 105vh;
  background: #1a1a1a;
}

#loader .counter {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #bcbcc4;
  padding: 0.2em 0.4em;
  font-size: 20vw;

  font-family: Carter-One;
  z-index: 100000000;
}

#main {
  position: relative;
  z-index: 10;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 0 2vw;
}

nav {
  padding: 2vw 2vw;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  z-index: 100;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 10vw;
  height: 5vw;
}

nav h3 {
  display: none;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #00000051;
  border-radius: 50px;
  font-weight: 500;
  color: #000000ce;
  font-size: 18px;
  position: relative;
  transition: all ease 0.4s;
  overflow: hidden;
}

.nav-part2 h4 a,
i {
  text-decoration: none;
  color: #000000ce;
  position: relative;
  z-index: 9;
}

.nav-part2 h4:hover a,
i {
  color: #fff;
}

/* .nav-part2 h4:hover i {
  background-image: #fff;
} */

.nav-part2 h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#center {
  height: 82vh;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid #00000051;
  padding-bottom: 2.5vw;
}

#center h1 {
  font-size: 10vw;
  text-align: right;
  line-height: 8vw;
  text-transform: uppercase;
  /*font-family:Carter-One; */
}

#center-left p {
  width: 25vw;
  font-size: 1.3vw;
  line-height: 1.5vw;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;

  position: relative;
  padding: 0 2vw;
}

#page2-upper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page2-upper h2 {
  font-size: 4vw;
  font-weight: 400;
  font-family: Carter-One;
  text-transform: uppercase;
  padding-top: 2vw;
  color: #434b34;
}

#page2-lower {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-top: 2vw;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}

/* #left-side {
  height: 65vh;
  width: 32vw;
 
  position: absolute;
  top: 15%;
} */

#left-side {
  height: 65vh;
  width: 32vw;
  /* background-color: red; */
  margin-top: 5%;
  position: relative;
}

#left-side svg {
  width: 32vw;
  height: 36vw;
}

#right-side {
  height: 83vh;
  width: 60vw;
  /* background-color: red; */
  margin-top: 7vw;
  position: relative;
  right: 2vw;
}

/* #right-side {
  height: 83vh;
  width: 60vw;
  
  position: absolute;
  top: 7vw;
  right: 2vw;
} */

#right-side h4 {
  height: 5vw;
  width: 100%;
  color: #938d865a;
  /* color: #434b34; */
  font-size: 3vw;
  text-align: center;
  font-weight: 200;
  font-family: Carter-One;
  line-height: 3vh;
}

#right-side h4 span {
  font-family: Carter-One;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 2vw 0;
}

#upper-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

#upper-part h2 {
  font-size: 4vw;
  font-weight: 400;
  font-family: Carter-One;
  text-transform: uppercase;
  padding-top: 2vw;
  color: #434b34;
}

#lower-part {
  margin-top: 5vw;
  height: 70vh;
  width: 100%;
  /* background-color: aqua; */
}

#lower-part .moving-div1 {
  position: absolute;
  white-space: nowrap;
  display: flex;
  /* background-color: #f2f2f2ca; */
  width: 40%;
  overflow: hidden;
  padding: 1.3vw;
  position: relative;
  left: 30%;
}

#lower-part .moving-div2 {
  position: absolute;
  white-space: nowrap;
  display: flex;
  /* background-color: #f2f2f2ca; */
  width: 40%;
  overflow: hidden;
  padding: 1.3vw;
  position: relative;
  top: 0%;
  left: 30%;
}

#lower-part .moving-div3 {
  position: absolute;
  white-space: nowrap;
  display: flex;
  /* background-color: #f2f2f2ca; */
  width: 30%;
  overflow: hidden;
  padding: 1.3vw;
  position: relative;
  top: 0%;
  left: 35%;
}

.move {
  display: flex;
  margin: 0 0vw;
  /* background-color: red; */
  animation: moveAnimation 12s linear infinite;
}

#lower-part .moving-div2 .move {
  display: flex;
  margin: 0 0vw;
  animation: moveAnimation 12s linear infinite reverse;
}

.blur-left,
.blur-right {
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, #efeae3, transparent);
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
}

.blur-left {
  left: 0;
}

.blur-right {
  right: 0;
  background: linear-gradient(to right, transparent, #efeae3);
}

.move svg {
  height: 7vw;
  width: 7vw;
  padding: 1vw 1vw;
  background-color: #c4bfb9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 12px;
  margin: 1vw;
}

.move img {
  height: 7vw;
  width: 10vw;
  background-color: #c4bfb9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  object-fit: fill;
  object-position: center;
  border-radius: 12px;
  margin: 1vw;
}

@keyframes moveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #efeae3;
  position: relative;
  padding: 2vw 0;
}

#work {
  padding: 3vw 4vw;
  margin-top: 2vw;
  display: flex;
  align-items: center;
  margin-bottom: 2vw;
}

#work h4 {
  font-size: 2vw;
  font-weight: 600;
  color: #394621;
  margin-left: 0.6vw;
}

#gola svg {
  width: 2.4vw;
  height: 2.4vw;
  padding-top: 0.2vw;
}

.elem {
  height: 150px;
  width: 100%;
  /* border-bottom: 1px solid #38383864; */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  opacity: 0.5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.elem:hover {
  opacity: 1;
}

#proj {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2vw;
  position: relative;
  z-index: 9;
}

#proj div {
  text-align: right;
  position: relative;
  z-index: 10;
}

#proj div h4 a {
  color: #1a1a1a;
}

#proj div a {
  color: rgb(90, 90, 90);
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

#proj div a:hover {
  color: #fff;
}

.elem .elem-overlay {
  height: 100%;
  width: 100%;
  background-color: #c4bfb9;
  position: absolute;
  left: 0;
  top: -100%;
  transition: all ease 0.25s;
}

.elem:hover .elem-overlay {
  top: 0;
}

.elem:hover #proj h2 {
  transform: translateX(15%);
  transition: all ease-out 0.28s;
}

#down-part {
  padding: 3.2vw 4vw;
}

#down-part .nav-part2 h4 {
  width: 12.9vw;
}

#down-part .nav-part2 h4 a {
  font-size: 1.5vw;
  font-weight: 200;
  font-family: Carter-One;
}

#mob-elem {
  display: none;
}

#page5 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 0vw 0;
}

#page5 #page5-lower-part {
  margin-top: 5vw;
  min-height: 70vh;
  width: 100%;
  overflow: hidden;
  /* background-color: aqua; */
}

.experience-section {
  width: 80%;
  margin: 0 auto;
}

.experience-section h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.44vw;
}

.timeline {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #000;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.timeline-item.left .timeline-content {
  order: 1; /* Places content to the left side */
}

.timeline-item.left .timeline-date,
.timeline-item.right .timeline-date {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 30px;
  padding-right: 3vw;
}

.timeline-item.right .timeline-date {
  justify-content: left;
  padding-left: 4vw;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  height: 16px;
  background: #000;
  border-radius: 50%;
  transform: translateX(-50%);
}

.timeline-content {
  background-color: #c4bfb9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 20%;
}

.timeline-item.left .timeline-content {
  margin-left: 0;
  margin-right: auto;
}

.timeline-item.right .timeline-content {
  margin-left: auto;
  margin-right: 0;
}

.timeline-content p {
  font-size: 1vw;
  margin-top: 0.7vw;
}

.timeline-date {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#page6 {
  height: 100vh;
  width: 100%;
  background-color: #efeae3;
  padding: 0vw 0;
  position: relative;
}

#lower {
  position: absolute;
  height: 70vh;
  width: 70vw;
  top: 25%;
  left: 10%;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
}

#lower #left {
  width: 40%;
  /* background-color: rgb(235, 152, 152); */
}

#lower #left div {
  margin-top: 4vw;
}

#lower #left h3 {
  font-size: 4vw;
}

#lower #left #info {
  margin-top: 2vw;
  display: flex;
  padding-left: 1vw;
  padding-bottom: 0.7vw;
  align-items: center;
}

#lower #left #info i {
  color: #000;
  font-size: 2vw;
  padding-right: 1vw;
}

#lower #left #info h4 {
  font-size: 2vw;
  font-weight: 600;
}

#lower #left p {
  font-size: 1.1vw;
  font-weight: 300;
  padding-left: 4.2vw;
}

#lower #right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  padding-top: 2.5vw;
  padding-left: 1vw;
  /* background-color: #fff; */
}

.contact-form {
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.input-half {
  width: 100vw;
  height: 10vh;
  margin-right: 4%;
  padding: 10px;
  border: none;
  background-color: #c4bfb9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #000;
  font-size: 1vw;
  border-radius: 5px;
}

.input-half:last-child {
  margin-right: 0;
}

.input-full {
  width: 100vw;
  height: 11vh;
  border: none;
  background-color: #c4bfb9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  color: #000;
  font-size: 1vw;
  text-align: start;
  border-radius: 5px;
}

textarea.input-full {
  height: 100px;
}

.send-btn {
  color: #64646e;
  font-size: 1vw;
  width: 30%;
  padding: 10px;
  background-color: #c4bfb9;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-btn:hover {
  color: #bcbcc4;
  font-size: 1vw;
  background-color: #695a48;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#page7 {
  position: relative;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#page7 #menu {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: 40%;
  /* background-color: #fff; */
}

#page7 #menu h2 a {
  font-size: 2vw;
  font-weight: 400;
  font-family: Carter-One;
  text-transform: uppercase;
  color: #bfc0bc;
  text-decoration: none;
}

#page7 #icon {
  position: absolute;
  top: 60%;
  left: 10%;
  display: flex;
  font-size: 1.8vw;
  gap: 1.6vw;
}

#page7 h1 {
  position: absolute;
  top: 50%;
  left: 37%;
  font-size: 10vw;
  font-family: Carter-One;
  text-transform: uppercase;
  color: #bfc0bc;
}

#page7 h4 {
  position: absolute;
  top: 85%;
  left: 10%;
  font-size: 1vw;
  font-weight: 200;
  font-family: Carter-One;
  text-transform: uppercase;
  color: #bfc0bc;
}

#full-src {
  min-height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  z-index: 99;
  top: -100%;
  transition: all ease 0.7s;
}

#full-src #full-div1 {
  height: 56%;
  width: 100%;
  background-color: #efeae3;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Footer section */

#footer {
  position: fixed;
  height: 50vh;
  width: 100%;
  background-color: #41423f;
  color: #fff;
  z-index: 9;
  bottom: 0;
}

/* Footer section */

@media (max-width: 500px) {
  #loader .overlay {
    position: fixed;
    width: 100vw;
    height: 20vw;
    z-index: 1000000;
    display: flex;
  }

  .overlay .bar {
    width: 14vw;
    height: 105vh;
    background: #1a1a1a;
  }

  #loader .counter {
    font-size: 25vw;
  }

  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }

  nav {
    position: fixed;
    padding: 3vw 5vw;
    background-color: #efeae3;
  }

  nav img {
    width: 13vw;
    height: 8vw;
  }

  .nav-part2 {
    display: none;
  }

  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid rgb(85, 81, 81);
    border-radius: 50px;
    font-size: 5vw;
    font-weight: 700;
    cursor: pointer;
  }

  #full-src {
    min-height: 100vh;
    width: 100vw;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.7s;
  }
  #full-src #full-div1 {
    padding-top: 35vw;
    width: 100vw;
  }

  #full-src #full-div1 h3 {
    display: block;
    font-size: 10vw;
    text-align: right;
    padding-right: 8vw;
  }

  #full-src #full-div1 h3 a {
    text-decoration: none;
    color: #41423f;
  }

  #center {
    top: 37vw;
    height: 36vh;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0.4vw;
    padding: 7vw 5vw;
    position: relative;
    z-index: 9;
  }

  #center #center-right {
    position: absolute;
    top: 12%;
    right: 2%;
    /* background-color: #fff; */
  }

  #center #center-left {
    width: 70%;
    position: absolute;
    top: 80%;
    right: 24%;
    /* background-color: #fff; */
  }

  #center h1 {
    font-size: 17vw;
    text-align: right;
    line-height: 16vw;
  }

  #center-left p {
    width: 100%;
    font-size: 4.2vw;
    line-height: 6vw;
    margin-top: 30vw;
  }

  #page2 {
    min-height: 100vh;
    width: 100vw;
    background-color: #efeae3;

    position: relative;
    padding: 0 0vw;
  }

  #page2-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page2-upper h2 {
    font-size: 12vw;
  }

  #page2-lower {
    position: relative;
    height: 90vh;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #left-side {
    height: 35vw;
    width: 35vw;
    margin-top: 5%;
    position: absolute;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
  }

  #left-side svg {
    width: 25vw;
    height: 25vw;
  }

  #right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 95vw;
    width: 100vw;
    position: relative;
    top: 26%;
    left: 0vw;
  }

  #right-side h4 {
    height: 20vw;
    width: 100vw;
    font-size: 0.3vw;
    line-height: 1vw;
  }

  #right-side h4 span {
    font-size: 6vw;
    line-height: 11vw;
  }

  #page3 {
    padding: 0vw 0;
    min-height: 85vh;
  }

  #upper-part h2 {
    font-size: 12vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  #lower-part {
    margin-top: 10vw;
    height: 107vw;
    overflow: hidden;
  }

  #lower-part .moving-div1,
  #lower-part .moving-div2,
  #lower-part .moving-div3 {
    width: 92%;
    padding: 5vw;
    left: 7%;
    right: 1vw;
  }

  .move svg {
    height: 23vw;
    width: 26vw;
    padding: 3.3vw;
    margin: 2.2vw;
  }

  .move img {
    height: 23vw;
    width: 25vw;
    padding: 1vw;
    margin: 2vw;
  }

  .blur-left,
  .blur-right {
    width: 20%;
  }

  #work h4 {
    font-size: 7vw;
    font-weight: 600;
    color: #394621;
    margin-left: 0.6vw;
  }

  #gola svg {
    width: 8vw;
    height: 8vw;
    padding-top: 0.2vw;
  }

  #elem-container {
    display: none;
  }

  #mob-elem {
    background-color: #efeae3;
    display: flex;
    flex-direction: column;
    padding: 4vw;
    gap: 1vh;
  }

  #mob-elem img {
    width: 100%;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    border-radius: 16px;
  }

  #mob-elem h2 {
    font-size: 9vw;
    font-weight: 700;
    font-family: neu-mediu;
  }

  #mob-elem h3 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #394621;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h4 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #695a48;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h3 a:hover {
    color: #272625;
  }

  #mob-elem h4 a:hover {
    color: #3e3838;
  }

  #down-part .nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  #down-part .nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #00000051;
    border-radius: 50px;
    font-weight: 500;
    color: #000000ce;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
  }

  #down-part .nav-part2 h4 a,
  i {
    text-decoration: none;
    color: #000000ce;
    position: relative;
    z-index: 9;
  }

  #down-part .nav-part2 h4:hover a,
  i {
    color: #fff;
  }

  #down-part .nav-part2 {
    padding: 3.2vw 0vw;
  }

  #down-part .nav-part2 h4 {
    width: 38vw;
  }

  #down-part .nav-part2 h4 a {
    font-size: 4vw;
    font-weight: 200;
    font-family: Carter-One;
  }

  #page4 #upper-part {
    margin-bottom: 4vw;
  }

  #page5 {
    min-height: 105vh;
  }

  #page5 #page5-lower-part {
    margin-top: 5vw;
    min-height: 70vh;
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
  }

  .experience-section {
    width: 80%;
    margin: 0 auto;
  }

  .experience-section h1 {
    font-size: 7.44vw;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #000;
    transform: translateX(-50%);
  }

  .timeline-item {
    display: flex;
    margin-bottom: 40px;
    position: relative;
  }

  .timeline-item.left .timeline-content {
    order: 1;
  }

  .timeline-item.left .timeline-date,
  .timeline-item.right .timeline-date {
    width: 29vw;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
    padding-right: 3vw;
    font-size: 3.9vw;
  }

  .timeline-item.right .timeline-date {
    justify-content: left;
    padding-left: 14vw;
    min-width: 40vw;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .timeline-content {
    background-color: #c4bfb9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 100%;
  }

  .timeline-item.left .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-item.right .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-content h3 {
    font-size: 4vw;
  }

  .timeline-content p {
    font-size: 3vw;
    margin-top: 1vw;
  }

  .timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  #page6 {
    min-height: 100vw;
    width: 100vw;
  }

  #lower {
    height: 73vh;
    width: 93vw;
    top: 19%;
    left: 2%;
    flex-direction: column;
  }

  #lower #left {
    width: 92.7vw;
  }

  #lower #left div {
    margin-top: 8vw;
  }

  #lower #left h3 {
    font-size: 7vw;
    padding-left: 5vw;
  }

  #lower #left #info {
    margin-top: 4vw;
    padding-left: 6vw;
    padding-bottom: 0.7vw;
  }

  #lower #left #info i {
    color: #000;
    font-size: 6vw;
    padding-right: 2vw;
  }

  #lower #left #info h4 {
    font-size: 6vw;
    color: #464543;
    font-family: Carter-One;
    font-weight: 200;
  }

  #lower #left p {
    font-size: 3.1vw;
    font-weight: 300;
    padding-left: 13.2vw;
  }

  #lower #right {
    width: 93vw;
    padding-left: 0vw;
  }

  .contact-form {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
  }

  .input-half {
    width: 100vw;
    height: 15vw;
    font-size: 2.5vw;
  }

  .input-full {
    width: 100vw;
    height: 16vw;
    font-size: 3vw;
  }

  .send-btn {
    font-size: 3vw;
    width: 30vw;
  }

  .send-btn:hover {
    font-size: 3vw;
  }

  #page7 {
    height: 27vh;
    width: 98vw;
  }

  #page7 #menu {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: 40%;
    /* background-color: #fff; */
  }

  #page7 #menu h2 a {
    font-size: 4.9vw;
    font-weight: 400;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
    text-decoration: none;
  }

  #page7 #icon {
    top: 24%;
    left: 61%;
    display: flex;
    font-size: 4.5vw;
  }

  #page7 h1 {
    top: 64%;
    left: 12%;
    font-size: 13vw;
  }

  #page7 h4 {
    position: absolute;
    top: 56%;
    left: 59%;
    font-size: 2.2vw;
    font-weight: 100;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
  }
  #footer {
    position: fixed;
    height: 27vh;
    width: 99.2vw;
    background-color: #41423f;
    color: #fff;
    z-index: 9;
    bottom: 0%;
  }
}

@media (max-width: 650px) and (min-width: 500px) {
  #loader .overlay {
    position: fixed;
    width: 100vw;
    height: 30vw;
    z-index: 1000000;
    display: flex;
  }

  .overlay .bar {
    width: 14vw;
    height: 105vh;
    background: #1a1a1a;
  }

  #loader .counter {
    font-size: 25vw;
  }

  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }

  nav {
    position: fixed;
    padding: 5vw 5vw;
    background-color: #efeae3;
  }

  .nav-part2 {
    display: none;
  }

  nav img {
    width: 13vw;
    height: 8vw;
  }

  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid rgb(85, 81, 81);
    border-radius: 50px;
    font-size: 5vw;
    font-weight: 700;
    cursor: pointer;
  }

  #full-src {
    min-height: 100vh;
    width: 100vw;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.7s;
  }
  #full-src #full-div1 {
    padding-top: 30vw;
    width: 100%;
  }

  #full-src #full-div1 h3 {
    display: block;
    font-size: 11vw;
    text-align: right;
    padding-right: 8vw;
  }

  #full-src #full-div1 h3 a {
    text-decoration: none;
    color: #41423f;
  }

  #center {
    height: 92vw;
    width: 100%; /* background-color: yellow; */
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0.4vw;
    padding: 7vw 5vw;
    position: relative;
    z-index: 9;
    top: 27vw;
  }

  #center #center-right {
    width: 70%;
    position: absolute;
    top: 2vw;
    right: 5%; /* background-color: #fff; */
  }

  #center #center-left {
    width: 70%;
    position: absolute;
    top: 71vw;
    left: 4%;
    /* background-color: #fff; */
  }

  #center h1 {
    font-size: 15.5vw;
    text-align: right;
    line-height: 16vw;
  }

  #center-left p {
    width: 100%;
    font-size: 3.2vw;
    line-height: 4vw;
  }

  #page2 {
    min-height: 100vh;
    width: 100vw;
    background-color: #efeae3;

    position: relative;
    padding: 0 0vw;
  }

  #page2-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page2-upper h2 {
    font-size: 12vw;
  }

  #page2-lower {
    position: relative;
    min-height: 106vh;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #left-side {
    height: 35vw;
    width: 35vw;
    margin-top: 5%;
    position: absolute;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
  }

  #right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 95vw;
    width: 100vw;
    position: relative;
    top: 26%;
    left: 0vw;
  }

  #right-side h4 {
    height: 20vw;
    width: 100vw;
    font-size: 0.3vw;
    line-height: 1vw;
  }

  #right-side h4 span {
    font-size: 6vw;
    line-height: 11vw;
  }

  #page3 {
    padding: 4vw 0;
  }

  #upper-part h2 {
    font-size: 12vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  #lower-part {
    margin-top: 3vw;
    height: 89vh;
  }

  #lower-part .moving-div1,
  #lower-part .moving-div2,
  #lower-part .moving-div3 {
    width: 92%;
    padding: 5vw;
    left: 7%;
    right: 1vw;
  }

  .move svg {
    height: 23vw;
    width: 26vw;
    padding: 3.3vw;
    margin: 2.2vw;
  }

  .move img {
    height: 23vw;
    width: 25vw;
    padding: 1vw;
    margin: 2vw;
  }

  .blur-left,
  .blur-right {
    width: 20%;
  }

  #work h4 {
    font-size: 7vw;
    font-weight: 600;
    color: #394621;
    margin-left: 0.6vw;
  }

  #gola svg {
    width: 8vw;
    height: 8vw;
    padding-top: 0.2vw;
  }

  #elem-container {
    display: none;
  }

  #mob-elem {
    background-color: #efeae3;
    display: flex;
    flex-direction: column;
    padding: 4vw;
    gap: 1vh;
  }

  #mob-elem img {
    width: 100%;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    border-radius: 16px;
  }

  #mob-elem h2 {
    font-size: 9vw;
    font-weight: 700;
    font-family: neu-mediu;
  }

  #mob-elem h3 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #394621;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h4 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #695a48;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h3 a:hover {
    color: #272625;
  }

  #mob-elem h4 a:hover {
    color: #3e3838;
  }

  #down-part .nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  #down-part .nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #00000051;
    border-radius: 50px;
    font-weight: 500;
    color: #000000ce;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
  }

  #down-part .nav-part2 h4 a,
  i {
    text-decoration: none;
    color: #000000ce;
    position: relative;
    z-index: 9;
  }

  #down-part .nav-part2 h4:hover a,
  i {
    color: #fff;
  }

  #down-part .nav-part2 {
    padding: 3.2vw 0vw;
  }

  #down-part .nav-part2 h4 {
    width: 38vw;
  }

  #down-part .nav-part2 h4 a {
    font-size: 4vw;
    font-weight: 200;
    font-family: Carter-One;
  }

  #page5 {
    min-height: 105vh;
  }

  #page5 #page5-lower-part {
    margin-top: 5vw;
    min-height: 70vh;
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
  }

  .experience-section {
    width: 80%;
    margin: 0 auto;
  }

  .experience-section h1 {
    font-size: 7.44vw;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #000;
    transform: translateX(-50%);
  }

  .timeline-item {
    display: flex;
    margin-bottom: 40px;
    position: relative;
  }

  .timeline-item.left .timeline-content {
    order: 1;
  }

  .timeline-item.left .timeline-date,
  .timeline-item.right .timeline-date {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
    padding-right: 3vw;
  }

  .timeline-item.right .timeline-date {
    justify-content: left;
    padding-left: 17vw;
    min-width: 50vw;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .timeline-content {
    background-color: #c4bfb9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 100%;
  }

  .timeline-item.left .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-item.right .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-content p {
    font-size: 3vw;
    margin-top: 0.7vw;
  }

  .timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  #page6 {
    min-height: 105vh;
    width: 100vw;
  }

  #lower {
    height: 80vh;
    width: 93vw;
    top: 17%;
    left: 2%;
    flex-direction: column;
  }

  #lower #left {
    width: 92.7vw;
  }

  #lower #left div {
    margin-top: 8vw;
  }

  #lower #left h3 {
    font-size: 7vw;
    padding-left: 5vw;
  }

  #lower #left #info {
    margin-top: 4vw;
    padding-left: 6vw;
    padding-bottom: 0.7vw;
  }

  #lower #left #info i {
    color: #000;
    font-size: 6vw;
    padding-right: 2vw;
  }

  #lower #left #info h4 {
    font-size: 6vw;
    color: #464543;
    font-family: Carter-One;
    font-weight: 200;
  }

  #lower #left p {
    font-size: 3.1vw;
    font-weight: 300;
    padding-left: 13.2vw;
  }

  #lower #right {
    width: 93vw;
    padding-left: 0vw;
  }

  .contact-form {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
  }

  .input-half {
    width: 100vw;
    height: 15vw;
    font-size: 3vw;
  }

  .input-full {
    width: 100vw;
    height: 16vw;
    font-size: 3vw;
  }

  .send-btn {
    font-size: 3vw;
    width: 30vw;
  }

  .send-btn:hover {
    font-size: 3vw;
  }

  #page7 {
    height: 45vh;
    width: 100%;
  }

  #page7 #menu {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: 40%;
    /* background-color: #fff; */
  }

  #page7 #menu h2 a {
    font-size: 4.9vw;
    font-weight: 400;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
    text-decoration: none;
  }

  #page7 #icon {
    top: 24%;
    left: 61%;
    display: flex;
    font-size: 4.5vw;
  }

  #page7 h1 {
    top: 64%;
    left: 12%;
    font-size: 13vw;
  }

  #page7 h4 {
    position: absolute;
    top: 56%;
    left: 59%;
    font-size: 2.2vw;
    font-weight: 100;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
  }
  #footer {
    position: fixed;
    height: 45vh;
    width: 100vw;
    background-color: #41423f;
    color: #fff;
    z-index: 9;
    bottom: 0%;
  }
}

@media (max-width: 770px) and (min-width: 650px) {
  #loader .overlay {
    position: fixed;
    width: 100vw;
    height: 30vw;
    z-index: 1000000;
    display: flex;
  }

  .overlay .bar {
    width: 14vw;
    height: 105vh;
    background: #1a1a1a;
  }

  #loader .counter {
    font-size: 25vw;
  }

  #page1 {
    min-height: 100vh;
    width: 100vw;
    padding: 0 0vw;
  }

  nav {
    position: fixed;
    padding: 5vw 5vw;
    background-color: #efeae3;
  }

  .nav-part2 {
    display: none;
  }

  nav img {
    width: 13vw;
    height: 8vw;
  }

  nav h3 {
    display: block;
    padding: 3vw 5vw;
    border: 1px solid rgb(85, 81, 81);
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 700;
    cursor: pointer;
  }

  #full-src {
    min-height: 100vh;
    width: 100vw;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.7s;
  }

  #full-src #full-div1 {
    padding-top: 30vw;
    width: 100%;
  }

  #full-src #full-div1 h3 {
    display: block;
    font-size: 11vw;
    text-align: right;
    padding-right: 8vw;
  }

  #full-src #full-div1 h3 a {
    text-decoration: none;
    color: #41423f;
  }

  #center {
    height: 92vw;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0.4vw;
    padding: 2vw 5vw;
    position: relative;
    z-index: 9;
    top: 15vw;
  }

  #center #center-right {
    width: 70%;
    position: absolute;
    top: 10vw;
    right: 5%;
  }

  #center #center-left {
    width: 70%;
    position: absolute;
    top: 71vw;
    left: 4%;
  }

  #center h1 {
    font-size: 15vw;
    text-align: right;
    line-height: 16vw;
  }

  #center-left p {
    width: 100%;
    font-size: 3.2vw;
    line-height: 4vw;
  }

  #page2 {
    min-height: 100vh;
    width: 100vw;
    background-color: #efeae3;
    position: relative;
    padding: 0 0vw;
  }

  #page2-upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page2-upper h2 {
    font-size: 10vw;
  }

  #page2-lower {
    position: relative;
    min-height: 120vh;
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #left-side {
    height: 35vw;
    width: 35vw;
    margin-top: -1%;
    position: absolute;
    left: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
  }

  #right-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    height: 95vw;
    width: 100vw;
    position: relative;
    top: 20%;
    left: 0vw;
  }

  #right-side h4 {
    height: 20vw;
    width: 100vw;
    font-size: 0.3vw;
    line-height: 1vw;
  }

  #right-side h4 span {
    font-size: 6vw;
    line-height: 11vw;
  }

  #page3 {
    padding: 4vw 0;
  }

  #upper-part h2 {
    font-size: 12vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  #lower-part {
    margin-top: 3vw;
    height: 89vh;
  }

  #lower-part .moving-div1,
  #lower-part .moving-div2,
  #lower-part .moving-div3 {
    width: 92%;
    padding: 2vw;
    left: 7%;
    right: 1vw;
  }

  .move svg {
    height: 23vw;
    width: 26vw;
    padding: 3.3vw;
    margin: 2.2vw;
  }

  .move img {
    height: 23vw;
    width: 25vw;
    padding: 1vw;
    margin: 2vw;
  }

  .blur-left,
  .blur-right {
    width: 20%;
  }

  #work h4 {
    font-size: 7vw;
    font-weight: 600;
    color: #394621;
    margin-left: 0.6vw;
  }

  #gola svg {
    width: 8vw;
    height: 8vw;
    padding-top: 0.2vw;
  }

  #elem-container {
    display: none;
  }

  #mob-elem {
    background-color: #efeae3;
    display: flex;
    flex-direction: column;
    padding: 4vw;
    gap: 1vh;
  }

  #mob-elem img {
    width: 100%;
    height: 50vh;
    object-position: center;
    object-fit: cover;
    border-radius: 16px;
  }

  #mob-elem h2 {
    font-size: 9vw;
    font-weight: 700;
    font-family: neu-mediu;
  }

  #mob-elem h3 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #394621;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h4 a {
    font-weight: 100;
    font-family: Carter-One;
    color: #695a48;
    text-transform: uppercase;
    font-size: 6vw;
    text-decoration: none;
  }

  #mob-elem h3 a:hover {
    color: #272625;
  }

  #mob-elem h4 a:hover {
    color: #3e3838;
  }

  #down-part .nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  #down-part .nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #00000051;
    border-radius: 50px;
    font-weight: 500;
    color: #000000ce;
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
  }

  #down-part .nav-part2 h4 a,
  i {
    text-decoration: none;
    color: #000000ce;
    position: relative;
    z-index: 9;
  }

  #down-part .nav-part2 h4:hover a,
  i {
    color: #fff;
  }

  #down-part .nav-part2 {
    padding: 3.2vw 0vw;
  }

  #down-part .nav-part2 h4 {
    width: 38vw;
  }

  #down-part .nav-part2 h4 a {
    font-size: 4vw;
    font-weight: 200;
    font-family: Carter-One;
  }

  #page5 {
    min-height: 105vh;
  }

  #page5 #upper-part h2 {
    font-size: 8.7vw;
    padding-top: 0vw;
    padding-bottom: 1vw;
  }

  #page5 #page5-lower-part {
    margin-top: 5vw;
    min-height: 70vh;
    width: 100%;
    overflow: hidden;
    /* background-color: aqua; */
  }

  .experience-section {
    width: 80%;
    margin: 0 auto;
  }

  .experience-section h1 {
    font-size: 7.44vw;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #000;
    transform: translateX(-50%);
  }

  .timeline-item {
    display: flex;
    margin-bottom: 40px;
    position: relative;
  }

  .timeline-item.left .timeline-content {
    order: 1;
  }

  .timeline-item.left .timeline-date,
  .timeline-item.right .timeline-date {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 30px;
    padding-right: 3vw;
  }

  .timeline-item.right .timeline-date {
    justify-content: left;
    padding-left: 21vw;
    min-width: 50vw;
  }

  .timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 16px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .timeline-content {
    background-color: #c4bfb9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 100%;
  }

  .timeline-item.left .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-item.right .timeline-content {
    margin-left: 0;
    margin-right: auto;
    width: 30vw;
  }

  .timeline-content p {
    font-size: 3vw;
    margin-top: 0.7vw;
  }

  .timeline-date {
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  #page6 {
    height: 86vh;
    width: 100%;
    background-color: #efeae3;
    padding: 0vw 0;
    position: relative;
  }

  #page5 #upper-part h2 {
    font-size: 8.7vw;
    padding-top: 0vw;
    padding-bottom: 1vw;
  }

  #lower {
    position: absolute;
    height: 70vh;
    width: 99vw;
    top: 25%;
    left: 0%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
  }

  #lower #left {
    width: 35vw;
    /* background-color: rgb(235, 152, 152); */
  }

  #lower #left div {
    margin-top: 5vw;
  }

  #lower #left h3 {
    margin-top: 8vw;
    padding-left: 1vw;
    font-size: 5vw;
  }

  #lower #left #info {
    margin-top: 3.5vw;
    display: flex;
    padding-left: 1vw;
    padding-bottom: 0.7vw;
    align-items: center;
  }

  #lower #left #info i {
    color: #000;
    font-size: 3.5vw;
    padding-right: 1vw;
  }

  #lower #left #info h4 {
    font-size: 4.5vw;
    font-weight: 600;
  }

  #lower #left p {
    font-size: 1.9vw;
    font-weight: 300;
    padding-left: 4.2vw;
  }

  #lower #right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 68%;
    padding-top: 2.5vw;
    padding-left: 0vw;
    /* background-color: #fff; */
  }

  .contact-form {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }

  .input-half {
    width: 100vw;
    height: 10vh;
    margin-right: 4%;
    padding: 10px;
    border: none;
    background-color: #c4bfb9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: #000;
    font-size: 2vw;
    border-radius: 5px;
  }

  .input-half:last-child {
    margin-right: 0;
  }

  .input-full {
    width: 100vw;
    height: 11vh;
    border: none;
    background-color: #c4bfb9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    color: #000;
    font-size: 2vw;
    text-align: start;
    border-radius: 5px;
  }

  textarea.input-full {
    height: 100px;
  }

  .send-btn {
    color: #64646e;
    font-size: 2.8vw;
    width: 45%;
    padding: 10px;
    background-color: #c4bfb9;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .send-btn:hover {
    color: #bcbcc4;
    font-size: 2.8vw;
    background-color: #695a48;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  #page7 {
    height: 45vh;
    width: 100%;
  }

  #page7 #menu {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 20%;
    height: 40%;
    /* background-color: #fff; */
  }

  #page7 #menu h2 a {
    font-size: 4.9vw;
    font-weight: 400;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
    text-decoration: none;
  }

  #page7 #icon {
    top: 24%;
    left: 61%;
    display: flex;
    font-size: 4.5vw;
  }

  #page7 h1 {
    top: 64%;
    left: 12%;
    font-size: 13vw;
  }

  #page7 h4 {
    position: absolute;
    top: 56%;
    left: 59%;
    font-size: 2.2vw;
    font-weight: 100;
    font-family: Carter-One;
    text-transform: uppercase;
    color: #bfc0bc;
  }
  #footer {
    position: fixed;
    height: 45vh;
    width: 100vw;
    background-color: #41423f;
    color: #fff;
    z-index: 9;
    bottom: 0%;
  }
}

@media (max-width: 1080px) and (min-width: 768px) {
  #center {
    height: 66vw;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0.4vw;
    padding: 1vw 5vw;
    position: relative;
    z-index: 9;
    top: 2vw;
  }

  #center #center-right {
    width: 70%;
    position: absolute;
    top: 10vw;
    right: 5%;
  }

  #center #center-left {
    width: 50%;
    position: absolute;
    top: 62vh;
    left: 4%;
  }

  #center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 10vw;
  }

  #center-left p {
    width: 100%;
    font-size: 2.2vw;
    line-height: 2.5vw;
  }

  #page2 {
    height: 70vh;
    width: 100%;
    background-color: #efeae3;
    position: relative;
    padding: 0 2vw;
  }

  #page2-upper h2 {
    font-size: 6vw;
  }

  #upper-part h2 {
    font-size: 6vw;
  }

  #lower-part {
    margin-top: 3vw;
    height: 89vh;
  }

  #lower-part .moving-div1,
  #lower-part .moving-div2,
  #lower-part .moving-div3 {
    width: 58%;
    padding: 2vw;
    left: 20%;
    right: 1vw;
  }

  .move svg {
    height: 13vw;
    width: 13vw;
    padding: 2.3vw;
    margin: 2.2vw;
  }

  .move img {
    height: 13vw;
    width: 17vw;
    padding: 0.3vw;
    margin: 2.2vw;
  }

  .blur-left,
  .blur-right {
    width: 20%;
  }

  #down-part {
    padding: 3.2vw 4vw;
  }

  #down-part .nav-part2 h4 {
    width: 20.9vw;
  }

  #down-part .nav-part2 h4 a {
    font-size: 2.5vw;
    font-weight: 200;
    font-family: Carter-One;
  }

  #mob-elem {
    display: none;
  }

  #lower {
    position: absolute;
    height: 70vh;
    width: 91vw;
    top: 25%;
    left: 3%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
  }

  #lower #left h3 {
    font-size: 5vw;
    padding-top: 3.4vw;
  }

  #lower #left #info h4 {
    font-size: 3.4vw;
    font-weight: 600;
  }

  #lower #left #info i {
    color: #000;
    font-size: 2.7vw;
    padding-right: 1vw;
  }

  #lower #left p {
    font-size: 1.6vw;
    font-weight: 300;
    padding-left: 4.2vw;
  }

  #lower #right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 68%;
    padding-top: 2.5vw;
    padding-left: 0vw;
    /* background-color: #fff; */
  }

  .row {
    margin-bottom: 25px;
  }

  .input-half {
    font-size: 1.8vw;
  }

  .input-full {
    font-size: 1.8vw;
  }

  .send-btn {
    font-size: 1.8vw;
  }

  .send-btn:hover {
    font-size: 1.8vw;
  }

  #page7 #menu h2 a {
    font-size: 3.4vw;
  }

  #page7 #icon {
    font-size: 2.8vw;
  }

  #page7 h4 {
    font-size: 1.3vw;
  }
}
